@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&display=swap");
body,
html {
  font-family: "Raleway", sans-serif !important;
  position: relative;
  width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

/* sidebar design */
.sidebar {
  width: 260px;
  position: fixed;
  padding: 10px 14px;
  transition: 0.3s;
  top: 0;
  font-size: 14px !important;
  overflow-y: auto;
  height: 100vh;
}

.bg-d,
.side-menu {
  background: #2b333e;
  color: rgb(226, 223, 223);
}

.side-menu > li,
.side-menu > a {
  background: #2b333e !important;
  color: white !important;
}

.side-menu > li:hover,
.side-menu > a:hover {
  padding-left: 20px;
  transition: 0.2s;
}

.side-menu > li:hover > span,
.side-menu > a:hover > span {
  transition: 0.2s;
  transform: rotate(90deg);
}

.drop-menu {
  display: block;
  background: inherit;
  color: #ddd;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.drop-menu > .list-group-item {
  background: inherit;
  color: #ddd;
}

.drop-menu > a:hover {
  padding-left: 23px;
  transition: 0.2s;
}

.c-pointer {
  cursor: pointer;
}

.f-right {
  float: right;
}

.content {
  display: block;
  transition: 0.3s;
  /* background: rgba(144, 252, 134, 0.1); */
  /* background: whitesmoke; */
}
